<!doctype html>
<html>
<head>
    <title>DEMO DAY</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="header">
        <img src="http://placekitten.com/g/200/300">
        <nav id="nav">
            <p>About this project</p>
            <div class="login">
                <img src="" alt="">
                <p>Create an account to save reference points on the map.</p>
                <p>Login or Signup:</p>
                <form action="/signup" method="post">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
            
                    <button type="submit" class="btn btn-warning btn-lg">Signup</button>
                    <button type="submit" class="btn btn-warning btn-lg">Login</button>
                </form>
    
            </div>
        </nav>
    </div>

    <h2>About me<h2>
        <p>
        In the quest to challenge myself with building a full-stack application that I could be proud of, I had a feeling I'd somehow gravitate towards history; an ambition became a deeply personal reflection of how big of a melting pot our world really is, and that people like me are more common than we tend to think. I'm not talking about the "I'm 1.8% Native!" crowd, by the way.

        I mean that people have been moving around since they've been able! Why do we know so little about the incredibly fascinating distant past, especially when it informs so much of our present?

        Frustrated and inspired, I undertook this project with the aim to introduce others to all that rich, beautiful history we have no clue about. It was also a good excuse to do a lot of research; I was derailed a few times when I became too engrossed in the material. But hopefully, that means it's working!

        Anyway, identity is a funny thing.

        Native to Brooklyn, NYC, I grew up a mixed-race person in a mixed-race environment. Despite the diversity around me, I've always felt as something of an "other"; not quite belonging to one group or another. Having multiple identities, but none that want to fully claim you as their own; at worst, a novelty. You know, the "you're so exotic!" line.

        But here's what I am: a mixed-race, coffee-fueled visual artist, software engineer, writer, video game and all-around fiction enthusiast; a history nerd, a pun master, a language learner, and a little bit of a fitness fanatic. Along with many other less flattering things, but that's for me to know and you to find out.

        If you'd like to know more of my thoughts, or need some advice on domestic rat care, feel free to reach out to me via email.
        </p>


</div>
</div>
</body>
</html>
