<!doctype html>
<html>
<head>
    <title>DEMO DAY</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="header">
        <img src="http://placekitten.com/g/200/300">
        <nav id="nav">
            <p>About this project</p>
            <div class="login">
                <img src="" alt="">
                <p>Create an account to save reference points on the map.</p>
                <p>Login or Signup:</p>
                <form action="/signup" method="post">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
            
                    <button type="submit" class="btn btn-warning btn-lg">Signup</button>
                    <button type="submit" class="btn btn-warning btn-lg">Login</button>
                </form>
    
            </div>
        </nav>
    </div>

    <h2>Project Mission<h2>
        <p>
        So much of our commonly taught history is so limited. We study wars and conquest, the atrocities of countries other than ours, and the glory of our own. Through a narrow field of vision, we see only borders and divides.

        But it's worth remembering that history is written by what we call the "victors". This project wholly rejects that notion, seeking to go further back than to a couple of world wars and the eras of Euro-centric colonial expansion.

        We have a collective human history that is deeper and richer than we can ever know or imagine. There are so many fascinating stories that we unknowingly carry with us to this day, because we are all the sum of all of them. How much knowledge are we missing, when so much of our history has been taught to us through a Western imperalistic lens?
        </p>


</div>
</div>
</body>
</html>
